<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="encabezado_diseño">

        <div class="header_centro">
            <a href="{{ url_for('dashboard') }}" class="logo_link">
                <img class="logo" src="{{ url_for('static', filename='images/LogoNuamColor.png') }}" alt="Logo_Nuam">
            </a>        
            <nav class="botones_nav">

                <div class="dropdown">
                    <button class="dropdown-btn">Perfil ⯆</button>

                    <div class="dropdown-menu">
                        <a href="{{ url_for('configuracion_perfil') }}" class="nav-link nav_perfil">Perfil</a>

                        {% if session.get('rol') == 'ADMIN' %}
                        <a href="{{ url_for('administracion') }}">Admin</a>
                        {% endif %}

                        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
                    </div>
                </div>

            </nav>
        </div>
    </header>
    <h1>Crear Usuario</h1>
    <form method="POST" action="{{ url_for('crear_user') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <label>Correo:</label>
        <input type="email" name="correo" required>

        <label>Contraseña:</label>
        <input type="password" name="contraseña" required>

        <label>Rol:</label>
        <select name="rol" required>
            <option value="INVITADO">INVITADO</option>
            <option value="CORREDOR">CORREDOR</option>
            <option value="ADMIN">ADMIN</option>
        </select>

        <button type="submit">Crear Usuario</button>
    </form>
</body>
</html>